*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.flex-container-column{
    display: flex;
    flex-direction: column;

    /*properti pendukung*/
    max-width: 800px;
    margin:auto;
    text-align: right;
}
.flex-container-row{
    display: flex;
}
.button{
    flex-basis: 25%;

    /* properti pendukung */
   font-size: 1.5em;
   text-align: center;
   padding: 40px;
   border: 1px solid black;
   background-color: -webkit-linear-gradient(top, #d2d2d2, #ddd);
   cursor: pointer;
}
.double{
    flex-basis: 50%;
}
.display{
    background-color: #212121 ;
    color: white;
    padding: 10px 20px;
}
.operator,
.negative,
.equal{
    background-color: orange;
}
.card{
    padding: 30px;
    -webkit-box-shadow: 4px 10px 14px -4px rgba(0,0,0,0.61);
    -moz-box-shadow: 4px 10px 14px -4px rgba(0,0,0,0.61);
    box-shadow: 4px 10px 14px -4px rgba(0,0,0,0.61);
}
.button:hover{
    font-weight: bold;
}

.history{
    width: 80%;
    margin: 30px auto 0 auto;
    overflow: scroll;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th,
td{
    text-align: center;
    padding: 16px;
}
th{
    background-color: orange;
    color: whitesmoke;
}
tr:nth-child(even){
    background-color: #d2d2d2;
}
@media screen and (max-width:513px){
    .button{
        padding: 10px;
    }
    .history{
        width: 100%;
    }
}